body {
  margin: 0;
  padding: 0;
  font-family: verdana;
  text-align: center;
}

.container {
  margin: 20px auto;
  width: 50%;
  border: 2px solid gray;
  padding: 20px;
}

.calculator-container {
  display: inline-block;
  text-align: center;
}

h1 {
  color: black;
  font-size: 20px;
}

#reset-button {
  background-color: black;
  color: white;
  font-family: verdana;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
}

.section {
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  color: black;
}

button {
  width: 150px;
  height: 50px;
  background-color: grey;
  color: white;
  font-family: verdana;
  font-size: 16px;
  margin: 5px;
  border: none;
  border-radius: 5px;
}

img {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid rgb(169, 169, 169);
  border-radius: 5px;
}
